/** {*/
/*    transition: color 500ms linear, background 500ms linear;*/
/*}*/

Screen {
    layout: dock;
}

#header {
    height: 1;
    color: $text-accent;
    background: $accent;
    width: 100%;
}

#footer {
    height: 1;
    color: $text-accent;
    background: $accent;
    width: 100%;
}

.empty_space {
    color: $primary;
}

#body_wrapper {
    layout: dock;
    docks: lhs=left rhs=right;
    width: auto;
    background: $surface;
    color: $text-surface;
}

#file_preview_wrapper {
    dock: lhs;
    color: $surface;
    background: $surface;
    overflow: auto auto;
}

#file_preview_content {
    color: $text-surface;
    background: $surface;
}

#this_directory {
    dock: lhs;
    border-right: vkey $accent;
    color: $text-surface;
    background: $surface;
}

#parent_directory {
    dock: lhs;
    border-right: vkey $accent;
    color: $text-surface;
    background: $surface;
}
